*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1024px;
  margin: 0 auto;
}

.header-group{
  display: flex;
  justify-content: space-between;
}

header{
  height: 70px;
  width: 100%;
  background-color: #EC715F;
}

a{
  text-decoration: none;
}

.logo{
  height: 70px;
}

.nav{
  display: flex;
}

.nav-list{
  width: 120px;
  line-height: 70px;
  list-style: none;
  color: #FAFAFA;
  font-size: 16px;
  padding: 0 30px;
}

#mv{
  background-image: url("img/mv.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 650px;
  color: #FAFAFA;
  text-align: center;
}

.mv-title{
  padding-top: 200px;
  font-size: 64px;
  font-family: 'Raleway', sans-serif;
}

.mv-text{
  padding-top: 10px;
  font-size: 20px;
}

#portfolio{
  background: #ECEFF1;
}

.portfolio{
  padding-bottom: 90px;
}

.heading{
  text-align: center;
  font-size: 32px;
  padding-top: 90px;
  font-family: 'Raleway', sans-serif;
}

.heading:after{
  content: '';
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0;
	background-color: #EC715F;
}

.heading-text{
  font-size: 16px;
  padding-top: 30px;
  text-align: center
}

.production-group{
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0 90px 0;
  margin: 0 auto;
  width: 920px;
}

.production{
  background-size: cover;
  background-position: bottom;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
}

.bg-1{
  background-image: url("img/sketch.jpg");
}

.bg-2{
  background-image: url("img/websuku.png");
}

.bg-3{
  background-image: url("img/write.jpg");
}

.bg-4{
  background-image: url("img/webcamp.png");
}

.bg-5{
  background-image: url("img/talk.jpg");
}

.bg-6{
  background-image: url("img/webcamp-mother.png");
}

.production:nth-child(3n){
  margin-right: 0;
}

.production:nth-child(-n + 3){
  margin-top: 0;
}

.feature{
  margin-bottom: 90px;
}

.strength-group{
  display: flex;
  padding: 30px 0 90px 0;
  width: 980px;
  margin: 0 auto;
}

i{
  font-size: 60px;
}

.strength{
  text-align: center;
  width: 320px;
  font-size: 60px;
  margin-right: 10px;
}

.strength:last-child{
  margin-right: 0;
}

.strength-title{
  padding: 10px 0;
  font-size: 20px;
}

.strength-text{
  font-size: 16px;
  text-align: left;
}

#profile{
  background: #ECEFF1;
}

.profile-group{
  padding: 30px 0 90px 0;
  display: flex;
}

.left-content{
  width: 50%;
}

.my-face{
  background-image: url("img/my-icon.jpg");
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.right-content{
  width: 50%;
}

.description-title{
  font-size: 20px;
  margin: 20px 0 5px 0;
}

.description-title:first-child{
  margin-top: 0px;
}

.description-text{
  font-size: 16px;
}

.contact-group{
  display: flex;
  padding: 30px 0 90px 0;
  width: 800px;
  margin: 0 auto;
}

.left-contact-content{
  width: 130px;
  margin: 0 auto;
}

.link-text{
  text-decoration: underline;
  color: #212121;
}

.right-contact-content{
  width: 170px;
  margin: 0 auto;
}

.right-contact-content .fa{
  font-size: 50px;
  margin-right: 20px;
}

.fa-5x:last-child{
  margin-right: 0;
}

footer{
  background-color: #EC715F;
  height: 60px;
  line-height: 60px;
}

.copyright{
  text-align: center;
  color: #FAFAFA;
}